@model FootballPrime_Website.Models.Post

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÓA BÀI VIẾT</h2>

<h3>Bạn có thật sự muốn xóa?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại bài viết:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostType.PostTypeName)
        </dd>

        <dt>
            Tiêu đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Ngày viết:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Tên tác giả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            Hình ảnh:
        </dt>

        <dd>
            <img src="~/img/@Model.Img"/>
        </dd>

        <dt>
            Trích dẫn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quote)
        </dd>

        <dt>
            Nội dung:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
