@model IEnumerable<FootballPrime_Website.Models.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPost.cshtml";
}

<div id="content-wrapper">
    <!-- BEGIN MAIN -->
    <div id="main">
        <div id="headlines">
            <div id="main-headline">
                @Html.Action("BreakingNews", "Home")
                <h2 class="heading">Video hot</h2>
                <iframe width="400" height="315" src="https://www.youtube.com/embed/OOukuKq13F4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="more-headlines">
                <h2 class="heading">Điểm tin nóng</h2>
                @foreach (var item in Model)
                {
                    <h2><a href="@Url.Action("Index","Post",new { id = item.PostID})">@item.Title</a></h2>
                    <p class="author">@item.Author | <span>@item.Date.ToShortDateString()</span></p>
                    <p>@item.Content.Substring(0, 100)</p>
                    <p><a href="@Url.Action("Index","Post",new { id = item.PostID})">Xem thêm &raquo;</a></p>
                }
            </div>
        </div>
    </div>
    <!-- END MAIN -->
    <!-- BEGIN SIDEBARS -->
    <div id="sidebars">
        <!-- BEGIN ADS -->
        <a href="#"><img src="~/img/side-ad.png" alt="" class="ad" /></a> <a href="#"><img src="~/img/side-ad.png" alt="" class="ad-right" /></a> <a href="#"><img src="~/img/side-ad.png" alt="" class="ad" /></a> <a href="#"><img src="~/img/side-ad.png" alt="" class="ad-right" /></a>
        <!-- END ADS -->
        @Html.Action("SideNews", "Home")
    </div>
    <!-- END SIDEBARS -->
</div>
