<link href="~/css/blog-post.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPost.cshtml";
}

<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">@Model.Title</h1>
            <!-- Author -->
            <p class="lead">
                Tác giả
                <a href="#">@Model.Author</a>
            </p>
            <hr>
            <!-- Date/Time -->
            <p>Ngày viết @Model.Date</p>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="~/img/@Model.Img" alt="" width="730" height="243">
            <hr>
            <!-- Post Content -->
            <p class="lead">@Model.Quote</p>
            <p>@Model.Content</p>
            <hr>
        </div>

        <div class="col-md-4" style="margin-top:-20px;">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Tìm kiếm</h5>
                <div class="card-body">
                    @Html.Action("Search", "Post")
                </div>
            </div>
        </div>
    </div>
</div>
