
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>Bóng đá thời báo</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/css/global.css" rel="stylesheet" />
</head>
<body>
    <!-- BEGIN TOP -->
    <!-- END TOP -->
    <!-- BEGIN HEADER -->
    <div id="header">
        <div id="logo">
            <a href="@Url.Action("Index","Home")"><img src="~/img/Logo.png.png"  height="110" width="380"/></a>
        </div>
        <div id="ad"> <img src="~/img/ad-blank.png" alt="" /> </div>
    </div>
    <!-- END HEADER -->
    <!-- BEGIN NAV -->
    <div id="nav">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            @Html.Action("Menu", "Home")
            <li><a href="@Url.Action("ShowAllPost","Post")">Tin tổng hợp</a></li>
            <li><a href="@Url.Action("Index","Product")">Đặt báo</a></li>
        </ul>
    </div>
    <!-- END NAV -->
    <!-- BEGIN SUB NAV -->
    <div id="sub-nav">
        <ul>
            <li><img src="~/img/fb.png" alt="" width="24" height="26"/><a href="#">Facebook</a></li>
            <li>|</li>
            <li><img src="~/img/icons/twitter.png" alt="" /><a href="#">Twitter</a></li>
        </ul>
    </div>
    <!-- END SUB NAV -->
    <!-- BEGIN CONTENT WRAPPER -->
    <div>
        @RenderBody()
    </div>
    <!-- END CONTENT WRAPPER-->
    <!-- BEGIN EXTRAS -->
    <div id="extras">
        <div id="recommended">
            <h2 class="heading">Tin trong nước</h2>
            <ul>
                @Html.Action("MorePost","Home")
            </ul>
        </div>
        <div id="programs">
            <h2 class="heading">Tối nay có gì</h2>
            <img src="~/img/tonight.jpg" alt=""width="312" height="120" /> <img src="~/img/cbc.png" alt="" />
        </div>
        <div id="cartoon">
            <h2 class="heading">Ảnh vui</h2>
            <img src="~/img/humor.jpg" alt="" width="312" height="200"/>
        </div>
    </div>
    <!-- END EXTRAS -->
    <!-- BEGIN FOOTER -->
    <div id="footer">
        <ul>
            <li>&copy;2018 <a href="#">Football Prime</a></li>
        </ul>
    </div>
    <!-- END FOOTER -->
</body>
</html>
