
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>Football Prime</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/css/global.css" rel="stylesheet" />
</head>
<body>
    <!-- BEGIN TOP -->
    <!-- END TOP -->
    <!-- BEGIN HEADER -->
    <div id="header">
        <div id="logo"> <a href="@Url.Action("Index","Home")"><img src="~/img/wireframe/logo.png" alt="" /></a> </div>
        <div id="ad"> <img src="~/img/ad-blank.png" alt="" /> </div>
    </div>
    <!-- END HEADER -->
    <!-- BEGIN NAV -->
    <div id="nav">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            @Html.Action("Menu", "Home")
            <li><a href="@Url.Action("ShowAllPost","Post")">Tin tổng hợp</a></li>
            <li><a href="#">Đặt báo</a></li>
        </ul>
    </div>
    <!-- END NAV -->
    <!-- BEGIN SUB NAV -->
    <div id="sub-nav">
        <ul>
            <li>|</li>
            <li><img src="~/img/icons/rss.png" alt="" /><a href="#">Facebook</a></li>
            <li>|</li>
            <li><img src="~/img/icons/twitter.png" alt="" /><a href="#">Twitter</a></li>
        </ul>
    </div>
    <!-- END SUB NAV -->
    <!-- BEGIN CONTENT WRAPPER -->
    <div>
        @RenderBody()
    </div>
    <!-- END CONTENT WRAPPER-->
    <!-- BEGIN EXTRAS -->
    <div id="extras">
        <div id="recommended">
            <h2 class="heading">Recommended Stories</h2>
            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit &raquo;</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit &raquo;</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit &raquo;</a></li>
                <li class="last"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit &raquo;</a></li>
            </ul>
        </div>
        <div id="programs">
            <h2 class="heading">What's On Tonight</h2>
            <img src="~/img/rick.jpg" alt="" /> <img src="~/img/cbc.png" alt="" />
        </div>
        <div id="cartoon">
            <h2 class="heading">Humour</h2>
            <img src="~/img/cartoon.jpg" alt="" />
        </div>
    </div>
    <!-- END EXTRAS -->
    <!-- BEGIN FOOTER -->
    <div id="footer">
        <ul>
            <li>&copy;2010 <a href="#">Name Here</a></li>
            <li>|</li>
            <li><a href="#">FAQ</a></li>
            <li>|</li>
            <li><a href="#">Privacy Policy</a></li>
            <li>|</li>
            <li><a href="#">Careers</a></li>
            <li>|</li>
            <li><a href="#">Advertise</a></li>
            <li>|</li>
            <li><a href="#">Sitemap</a></li>
            <li>|</li>
            <li>Designed by <a href="http://www.skyrocketlabs.com/">Skyrocket Labs</a></li>
        </ul>
    </div>
    <!-- END FOOTER -->
</body>
</html>
