@model FootballPrime_Website.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>THÔNG TIN CHI TIẾT BÁO</h3>

<div>
   <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại báo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.PrTypeName)
        </dd>
        <dt>
            Tên báo:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrName)
        </dd>
        <dt>
            Mô tả:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Describe)
        </dd>
        <dt>
            Giá bán:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Hình ảnh:
        </dt>
        <dd>
            <img src="~/img/@Model.Pic" />
           
        </dd>
    </dl>
</div>
<p>   
    @Html.ActionLink("Quay trở lại", "Index")
</p>
